TOKEN="TOKEN DU BOT"
DEFAULT_PREFIX="!"
BOT_OWNERS="123456789012345678,987654321098765432"
DATABASE_PATH="./data/bot.sqlite"
SEARCH_GROUP_SIZE="200"
SEARCH_MESSAGE_WAIT_MS="10000"
SEARCHHUB_CHALLENGE_TIMEOUT_MS="120000"
BROWSER_PROFILE_PATH="/chemin/vers/profil/chrome"
PUPPETEER_EXECUTABLE_PATH="/usr/bin/google-chrome-stable"
